<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <!-- INICIO DEL HEADER -->
    <header class="main-header-top-bar">
        <div class="top-bar">
            <div class="img-top-bar">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
            </div>

            <form class="search-bar" action="search" method="get">
                <input class="form-input2" type="text" name="q" placeholder="Buscar productos, marcas y más" > 
                <div class="lupa">
                    <button type="submit" class="button-search-bar">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
        </form>

            <div class="compras-interes">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <nav class="main-header-nav-bar">
            <ul class="">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="ul-style">
                <li><a href="register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="login">Ingresá </a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <!-- FIN DEL HEADER -->

    <body>
        <!-- INICIO FORMULARIO -->
        
        <form action="/registro" method="POST">
            <div class="formulario-login">
                <div>
                    <input class="form-input" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
                </div>
                
                <div>
                    <input class="form-input"type="text" name="nombre" id="nombre" placeholder="Nombre de usuari@" required>
                </div>
                
                <div>
                    <label for="fecha">Fecha de nacimiento</label>
                    <input class="form-input" type="date" name="fecha" required>
                </div>
                
                <div>
                    <input class="form-input" type="text" name="direccion" id="nombre" placeholder="Domicilio">
                </div>
                
                <div>
                    <label for="perfil"> Perfil del usuario </label>
                        <input type="radio" name="perfil-del-usuario" value="Comprador">
                        <label for="perfil">Comprador</label>
                        <input type="radio" name="perfil-del-usuario" value="Vendedor">
                        <label for="perfil">Vendedor</label>
                </div>
                
                <div>
                    <label for="categorias">
                        <input type="checkbox" name="intereses" value="Electro">
                        <label for="intereses">Electro</label>
                        <input type="checkbox" name="intereses" value="Moda">
                        <label for="intereses">Moda</label>
                        <input type="checkbox" name="intereses" value="Hogar">
                        <label for="intereses">Hogar</label>
                        <input type="checkbox" name="intereses" value="Jugueteria">
                        <label for="intereses">Juguetería</label>
                        <input type="checkbox" name="intereses" value="Vida Sana">
                        <label for="intereses">Vida Sana</label>
                        Categorías de interés
                    </label>
                </div>

                <div>
                    <label>Seleccionar una imagen para el perfil:</label>
                    <input type="file" name="avatar" accept=".jpg" multiple>
                </div>
                
                <div>
                    <input class="form-input" type="text" name="password" id="nombre" placeholder="Contraseña">
                </div>
                
                <div>
                    <input class="form-input" type="text" name="password" id="nombre" placeholder="Confirmar contraseña">
                </div>
                
                <div>
                    <button class="form-submit-button" onclick="location.href= '/'" type="button">
                        Enviar
                    </button>
                </div>
                
                <div>
                    <input class="form-submit-button" type="reset" value="Borrar todo">
                </div>

            </div>
        </form>
        
            <!-- FIN DEL FORMULARIO -->
       
    </body>
    <footer>
        <div class="footer-ml">
            <div class="shipping-card-user">
                <div class="credit-card">
                    <i class="fas fa-credit-card icon-footer"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </div>

            <div class="shipping-card-user">
                <div class="gift">
                    <i class="fas fa-gift icon-footer"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </div>
   
            <div class="shipping-card-user">
                <div class="user-shield">
                    <i class="fas fa-user-shield icon-footer"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>

        </div> 

        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        
    </footer>
    </body>

   </html>